language: android
jdk:
- oraclejdk8
android:
  components:
  - tools
  - platform-tools
  - build-tools-29.0.3
  - android-29
  - extra-android-m2repository
  licenses:
  - android-sdk-license-.+
script:
- "./gradlew clean cleanBuildCache check --stacktrace --rerun-tasks"
after_success:
- tools/release/deploy_snapshot.sh
- bash <(curl -s https://codecov.io/bash)
after_script:
- tools/release/deploy_cleanup.sh
before_install:
- echo testtest
branches:
  except:
  - gh-pages
notifications:
  email: false
sudo: false
cache:
  directories:
  - "$HOME/.m2"
  - "$HOME/.gradle"
env:
  global:
  - secure: GfvGpXZbPqYO2Aij44ln8aG5qXi2NsOr+4WVGomganeBNJ7xPtZEzRRvuq+15e8CNgA8F6FDH6bArW4nzvBa7mtMdwUpmveMj6iOl+3Rr/wtFhF34y5XhRUO6Ai8rTNv5faZvztl87IOs1RjEaler0I0unm6SsyM6xjC7YyYCUQIxtvGx/l05c4ZH4jToR9HEz+FgBwI1ORXch+AOYzi3oGovH/4osW85JnVGbiLP6vH4UwHVoSxl0hMwBkhJ8vpfzo2d+cd8lxv0g+0AnnKcYEk++k2JarfyKe8wKcAkz95zeuwVWdHYbg1+5XPf/X+USILkblRIf2XNbdG6ngSl5xSYQ731XNqdtT8Poaitj922zl+pg6dIUqoEnQ1iKBt7ZajUHzkoFV+iNaReKUzdAU7Uk/3HqQPzEQUWnr0okhb4QQFBzVVYLqAqPWuGaPYPSK0/yHwrLcP3bJkNDNx52o9U/0fVc1JNhmTmLqO1e1/42okX+3ondDmf8dz+bDuUb4wrbZUgVYEm78xSZW70chLy9xyySjs0XcywuqlPOsq+Zav1CoxecjjI1ylYOXJ5BseLkUOkYiocA32xK82I1iKXlFZLlR7jSEslFWiJyLAYB2hFSOZ15kX9BdyPvcOxcoIsswgr2tgFl5D//z58Z4dqO28NweniEJYcS6IMVQ=
  - secure: NKhkazDWT2ZVgc8QPLuPQbjm0l8mde6yV1mGP/Ydej623mmTy4mi9t4oJVAMgpvSzHCyq9PZ++enDuB9Qlx21tHFv+FhpRqRF/Dn8GDgH6PhANslHoMYxUAwRurO2Zv8Wb69sTZkeUZBnjlTWkTsziml1n3EqMgCQYADNV62e48jlRiq0nrRp9P241S2vsC8n8NeoNTOk95HYWyAyDSJ+kaW/UNWOQUtXF/NUwbI65Wvy/kmC1GcDW4J8tfQJ/Im7ECtwfc9Dree35lR5IyCKyWY3tE7RrXvRXlIfHU03UStvzeFKD3rFD6ZVOJFw+QRrgCpoAPttK1uGy6vBvyMSHoGt8Quu9ar+6ud8h3UJr+5MXO1tbXWxgpOBcENkP+hosas/xFPHHN4PjnfKwO0F6vn04+0p1u1Cfv5sxxOSXC6uTZ3HJZXQJ0WtmL5y2xM7pJqlWbU5GbbQ12U3hc8tKx80b2joC/GPikKv2IjFApSHpeA+TfF+oNoR2RO2pht5IUd+04YMxaJgF8zfmoQVi7oT3xrXFWhCDr9qMQBlI2EMFcxNVh4ysLmYl7k+xat2jLs7g1nFPQPm4w29FS/jGR08EUSeEpSwP2E5vXYF9jTGs39s07pNV9iZnl67ZZPteeIsv7suxYXGCK11pMjOz7CBQAkYQ+utMLr50k/8LA=
  - secure: hi5VrAMMNQgsYkXZeIrOS+pj7U/+2BygW8f3LC0bpnQ+15rh04NPK8rYriSDIQNL2iT9DgajTN89NxsBLNW+6jv96qIGF+oWCAYCKAO/82LdSJTmG2Yx4A9xHYinwZPrlRLLSuw9SIw/Sce83jT1Ih5+3WbyYAizGK2LAw3CmL0FbDB0LkmYr4UnklXQKgDaDYCgDpU7uvsq9v1EirBLm+qOgUG3QHuH7opcN7mSN/9ZPwz5deWPH0TvEgzI0VVRmZ77vA8Jh93d4grzB1V3iDeUq8+DwDKykPhvCTkvpvLS7BvzPMKPt7iML8JbyfBMKUcWcgKpb/TnGmbDrZqTa8IT8mmdXBfjLQCb8DJLQKDNSPjdH4R2xUpol2stzlweMu9aLvgKTnawRjHGYYsyLLkEHTJnjuuTxdP7PuQ5OC5qFPXCAOKVdHhEEafj1jodihYgD3OpdelWyEE5QBt9PrfGMId4caLttzcnddyDXMyLSkMCSw6mVEIUHi9uDWfy9/MEtUCkvO01GRbvGECWUUuVKLt4bhAa8Kxf50xglxA5bV7Br98Voj6ifvDf0iMlLD/MwNZFu+gew9JdBLTKQbxbP2KKFrCamN2Jfv4S+ncJgYLMfTInOeMgbM8iXQAKQZMXvS/C8YPrnUN5U3LRjuMkh1SAPoDpLOdVrRpeU+w=
  - secure: XeJwAK/7EZlhw3iI7OSj0c8CCBQ16tMSbxvamYz4EQrMCJZhquMLaBGhqpmO6QDMkHsAspUwJOnHiW2ICx5mc316WqxnpM89ryU5t7L/eophVu6Y3OvpkdBZMLKJp6E43XSC9K+xOOTjbn5vHJ2E+ErRXWJRwo+RFIuCaHaZWXH7aWpW5+TvsezuNlBYoG6VLuK9UVoqHGZRYcsjqlCnWl2kVzhJ/Yy2DRDKqTbMNRdp8Vp9wcxcBB2NlzGLMJmnBBihlgvjTHN2aV6v7QHVMYb2PQV6WEZg8MqtLZLP0WoG+IA0L8ERGnG5l+leYZxwDCfq0PhGgNQKX8cWgNJiZfQfX5yq+6tv288RpAR7qWod5FlPaFfRgT6X2g677OBLTsTZStBv5mOfHVe62Gu0jXUnZmUjeDxArtJOqncqG2ImRF05/cbtVVOlZxaqwNVEiL3bsk/BlxoSQiM5k7f/WXGSxz5Uue9r7KCnAFvhE/lEibkoha8KLTQfHAStk6rSh9XrM8CmMmqv2ADgp6JSWzHxe0K0cv0wGw0ZYBKpnQGBCP2X43x1NKT3j5bSuPOwyZX6qKYRWLemdBPywIgZb4zFzJZjH6qIlNiafzFPKCjV+fNGhx365qMymlxKUX8AYWic//PjcZSS6MrlUyZ+Ll6gs3cVWA+dB+qJQyCXob0=
  - secure: a1U2fPsg4CDganCK6DahIFpgNGA8gS4ShsZCWwRglUqYaaW95W3n/LCiZnIWxB3j/gpfFRJLX7ElQBxVIMULh/bZv2CfYOR8M7lBppL34NoEyejUIjxpyn/KeZ2zTy1BEtkCIHaQxxH7U7DgQwGCF/deUAaCn/VfdQZjs1Yk4m3HHHTMHIB+ye71qHuHLPNqy448QOz7+OM0Ask3iOd4Tlyp9CT4EbxFJ/IbUOHCPxRSnAm4btS0FYmcYbAvgZmJGCBYhHepEXGOpwpLhNAnULgByvgZZ2zEx2dIseiz2KScVsAyuJs9Mp8CyYGD1cAyvXXZw/5nhOkptku48OHOaqTJqqkkfGVuO6zEd/5KC+2aoyL2L7szka5Xrv8fUtI/Y6TpU3g0dLIYmLpjjSYvlfWeyv11Oxq0W0ME6gLXIEcU3umPbTaiGNJDTESvl2JOTDsjqeiUm/RtZFopmcdycxja671tS/oXUSuLCwkxOM0RMrGL3ATnYTt/GaGUTGHLXoLQhJ2a1RQX2ogAzrBm0w6TVIQKflUJtNBpgaEAuou+lgykoYatsn8yvzXKoDxFzAvd5xmwH8U5DSMCExK9WaPi6MJV3S7regaiBbfcthJMzip9PzuDqoi0oi/8HANz5AiMPE5uoH5dd6m09gUaFRj0OXesvd2AAF/chQQtUe4=
